<li>
  <strong>Lecturer:</strong> <%= booking.lecturer.name %><br>
  <strong>Start Date:</strong> <%= booking.start_date.strftime('%B %e, %Y %l:%M %p') %><br>
  <strong>End Date:</strong> <%= booking.end_date.strftime('%B %e, %Y %l:%M %p') %>
</li>
