<div class="container mt-5">
  <div class="jumbotron">
    <h1 class="display-4">Welcome to StudentHub!</h1>
    <p class="lead">This is your go-to place for all things related to student life.</p>
    <hr class="my-4">
    <p>Explore academic resources, connect with fellow students, and stay updated on campus events.</p>
  </div>

  <div class="row">
    <div class="col-md-4">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Featured Courses</h5>
          <p class="card-text">Check out our highlighted courses and discover exciting subjects to enroll in.</p>
        </div>
      </div>
    </div>

    <div class="col-md-4">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Student Resources</h5>
          <p class="card-text">Explore helpful resources to enhance your academic journey and succeed in your studies.</p>
        </div>
      </div>
    </div>

    <div class="col-md-4">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Join the Community</h5>
          <p class="card-text">Connect with other students, participate in discussions, and be part of the campus community.</p>
        </div>
      </div>
    </div>
  </div>
</div>