<div id="<%= dom_id questionnaire %>">
  <p>
    <strong>Question:</strong>
    <%= questionnaire.question %>
  </p>

  <p>
    <strong>Answer:</strong>
    <%= questionnaire.answer %>
  </p>

</div>
